img {
    width: 200px;
    border-radius: 50px;
    height: 200px;
  }
  body {
    background-color: antiquewhite;
  }
  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 8%;
  }
  h3 {color:red;}
  h1 {color:blue;}